/* You can add global styles to this file, and also import other style files */
html {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #1f48b1;
}

body{
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

::-webkit-scrollbar {
  width: 20px;
}

/* Track */
::-webkit-scrollbar-track {
  display: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 10px;
}
