# Compiled binary files
bin/
obj/

# User-specific files
*.user
*.vs/
*.vscode/
*.mdf
*.ldf
**/appsettings.json


# Logs
*.log
logs/

# Temporary files
*.tmp
*.temp

# Build results
/artifacts/

# Dependencies
/packages/
*.nupkg
*.snupkg

# Visual Studio cache files
*.suo
*.userosscache
*.userprefs

# Configuration files
appsettings.Development.json

# Docker
*.container.cache
