body{
  margin-top: -40px;
}

.header-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 1%;
  width: 10%;
  align-items: center;
  margin-bottom: -55px;
}

.menu-button {
  font-size: 24px;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
}

.navbar {
  background-color: #1f48b1;
  color: white;
  width: 250px;
  position: fixed;
  padding-top: 55px;
  height: 100%;
  left: -250px;
  margin-left: 10px;
  transition: 0.3s;
}

.navbar.active {
  left: 0;
}

.input-wrapper input {
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-family: "Balsamiq Sans", sans-serif;
  font-style: italic;
  font-size: 1rem;
  width: 12em;
  border-radius: 15rem;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.input-wrapper input:focus {
  outline-color: #1f48b1;
}

.location-search, .logout button{
  background-color: #eee;
  border: none;
  padding: 1rem;
  margin-top: 1rem;
  font-family: "Balsamiq Sans", sans-serif;
  font-style: italic;
  font-size: 1rem;
  width: 14em;
  color: #1f48b1;
  border-radius: 15rem;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.main-content {
  margin-left: 0;
  padding-left: 3%;
  transition: 0.3s;
}

.main-content.active {
  margin-left: 250px;
}

.weather-box {
  background: linear-gradient(to bottom right, #3f92f7, #1a6dd1);
  border-radius: 31px;
  color: white;
}

.bookmarks h3{
  font-family: "Balsamiq Sans", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 25pt ;
  color: white;
}

.bookmarks ul{
  list-style-type: none;
}

.favorite{
  font-family: "Balsamiq Sans", sans-serif;
  font-style: italic;
  font-size: 15pt ;
  color: white;
}

h1{
  font-family: "Balsamiq Sans", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 50pt ;
  color: white;
}

.title{
  font-size: 60pt;
}

.location-name{
  padding-left: 20px;
  padding-top: 15px;
}

.weather-info{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 1%;
  padding-bottom: 25px;
  width: 10%;
  align-items: center;
}

.temperature{
  padding: 10px;
  font-family: "Balsamiq Sans", sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 45pt;
}

.add-favorite{
  background-color: #eee;
  border: none;
  padding: 1rem;
  margin-top: 1rem;
  font-family: "Balsamiq Sans", sans-serif;
  font-style: italic;
  font-size: 1rem;
  width: 7em;
  color: #1f48b1;
  border-radius: 15rem;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 50px;
  row-gap: 20px;
  padding: 10px;
}

.info-box {
  background-color: rgba(55, 98, 209, 0.4);
  padding: 10px;
  border-radius: 31px;
  height: 187px;
}

.active-weather{
  width: 185px;
  height: 185px;
}

.info-headline{
  font-family: "Balsamiq Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 35pt;
  margin-top: 10px;
  margin-left: 10px;
}

.info-data{
  font-family: "Balsamiq Sans", sans-serif;
  font-style: italic;
  font-size: 18pt;
  margin-left: 20px;
}

label{
  display:flex;
  flex-direction:column;
  width:70px;
  cursor:pointer;
}

label span{
  background: #fff;
  border-radius:10px;
  height:7px;
  margin: 7px 0;
  transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

span:nth-of-type(1){
  width:50%;
}

span:nth-of-type(2){
  width:100%;
}

span:nth-of-type(3){
  width:75%;
}

input[type="checkbox"]{
  display:none;
}

input[type="checkbox"]:checked ~ span:nth-of-type(1){
  transform-origin:bottom;
  transform:rotatez(45deg) translate(8px,0px)
}

input[type="checkbox"]:checked ~ span:nth-of-type(2){
  transform-origin:top;
  transform:rotatez(-45deg)
}

input[type="checkbox"]:checked ~ span:nth-of-type(3){
  transform-origin:bottom;
  width:50%;
  transform: translate(30px,-11px) rotatez(45deg);
}

@media (max-width: 1200px) {
  .info-grid {
    grid-template-columns: 1fr;
  }
}

